* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: url(./assets/bg.jpg) no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #121214;
}

body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

header {
  padding-top: 3.2rem;
  height: 15.2rem;
}

header div {
  width: 12rem;
  margin: auto;
  background: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);
  border-radius: 50%;

  display: flex;
  padding: .4rem;

  transition: transform .3s;
}

header div:hover {
  transform: scale(1.1);
}

header img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 58rem;
  width: 90%;
  margin: 3.2rem auto;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  margin-top: 3.2rem;
}

section {
  color: white;
  background: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);
  padding-top: .4rem;
  border-radius: 1rem;
}

section div {
  background-color: #2A2634;
  padding: 2.4rem 3.2rem 3.2rem;
  border-radius: .8rem;
}


section h2 {
  font-weight: 900;
  letter-spacing: -0.47px;
}

section p {
  letter-spacing: -0.18px;
  color: #A1A1AA;
}

section ul {
  display: flex;
  /* flex-wrap - quando chega no limite do componente ele joga para baixo o conteudo */
  flex-wrap: wrap;
  gap: 1.6rem;

  margin-top: 2.4rem;
}

section ul li {
  transition: transform .3s;
}

section ul li:hover {
  transform: scale(1.1);
}

.games-list img {
  width: 9rem;
  border-radius: .8rem;
}

.channel-list img {
  width: 7rem;
  border-radius: 50%;
  border: 1px solid #443E54;
}

/* ANIMATION */

header div {
  animation: fromTop .7s .2s backwards;
}

main section {
  animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: .4s;
}

main section:nth-child(3) {
  animation-delay: .8s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
